.block-products {
  &__list {
    display: flex;
    list-style: none;
    // font-size: 1.5rem;
    flex-wrap: wrap;
  }

  &__list-elem {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 200px;
  }

  &__info-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
  }

  &__elem-title {
    flex: none;
  }
  &__elem-img {
    width: 100px;
    height: 100px;
  }

  &__elem-rating {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
